<footer id="footer"><!--Footer-->

    <section id="footerRights">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="footerLinks">
                        <li><a href="{{ path('r_tech_contact') }}">{{ 'contact.contact' |trans }}</a> - </li>
                        <li><a href="{{ path('r_tech_app_homepage') }}">{{ 'contact.apropos' |trans }}</a> - </li>
                        <li><a href="{{ path('r_tech_app_homepage') }}">{{'contact.legal' |trans }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</footer><!--/Footer-->


