<li class="btn-group dropdown">
   <button type="button" class="dropdown-toggle btn btn-default usa" style="text-decoration: none" data-toggle="dropdown" role="button" aria-expanded="true">
       <a  href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">
           <img src="{{ asset('bundles/pylosstore/images/png/'~app.request.locale~'.png') }}">
           <span>{{ app.request.locale|upper }}</span><span class="caret"></span>
       </a>

   </button>
    <ul class="dropdown-menu" style="min-width: 70px;">
        <li>
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">
                <img src="{{ asset('bundles/pylosstore/images/png/fr.png') }}">
                FR
            </a>
        </li>

        <li>
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}" >
                <img src="{{ asset('bundles/pylosstore/images/png/en.png') }}">
                EN
            </a>
        </li>
        <li>
            <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'es'})) }}">
                <img src="{{ asset('bundles/pylosstore/images/png/es.png') }}">
                ES
            </a>
        </li>
        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'it'})) }}">
                <img src="{{ asset('bundles/pylosstore/images/png/it.png') }}">
                IT
            </a>
        </li>
        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'nl'})) }}">
                <img src="{{ asset('bundles/pylosstore/images/png/nl.png') }}">
                NL
            </a>
        </li>
        <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'de'})) }}">
                <img src="{{ asset('bundles/pylosstore/images/png/de.png') }}">
                DE
            </a>
        </li>
    </ul>
</li>


