{#{% extends 'RTechAppBundle::layout.html.twig' %}#}
{#{% block body %}#}
      {% block rtech_user_content %}
            <div id="category">
                  <div class="col-md-3 fixed">
                        <input type="text" class="searchBox" placeholder="Rechercher" />
                        <span class="h1">Trier par</span>
                        <select>
                              <option value="" disabled selected>Categorie</option>
                              <option>E-sport</option>
                              <option>Informatique</option>
                              <option>Jeux</option>
                              <option>Robotique</option>
                              <option>Science</option>
                              <option>Art</option>
                        </select>
                        <select>
                              <option value="" disabled selected>Date</option>
                              <option value="dateRecent">Récent</option>
                              <option value="dateAncien">Ancien</option>
                        </select>
                        <select>
                              <option value="" disabled selected>Vue</option>
                              <option value="vuePlus">Plus de vue</option>
                              <option value="vueMoins">Moins de vue</option>
                        </select>
                        <select>
                              <option value="" disabled selected>Like</option>
                              <option value="likePlus">Plus de like</option>
                              <option value="likeMoins">Moins de like</option>
                        </select>
                  </div>

                  <div class="col-md-9 col-md-offset-3" id="contentCat">
                        <div id="blocUser">
                              <div class="col-sm-9">
                                    <div class="col-xs-5">
                                          <img src="{{ asset('bundles/public/images/profil.jpg') }}" />
                                    </div>
                                    <div class="col-xs-7">
                                          <h2>{{ user.firstname }} {{ user.lastname }}</h2>
                                          <p>Email : {{ user.email }}</p>
                                          <p>Mot de pass : *********</p>
                                          Date naissance: {{ user.birthday|date("d/m/Y", "Europe/Paris") }}
                                          <button type="button" class="btn btn-primary btn-lg bouton" data-toggle="modal" data-target="#myModalInfo">
                                                Modifier
                                          </button>
                                    </div>
                              </div>
                              <div class="col-sm-3">
                                    <div class="h1">
                                          <span class="nombre">{{ medias|length }}</span><br />
                                          {% if medias|length > 1 %}
                                                podcasts
                                          {% else %}
                                                podcast
                                          {% endif %}
                                    </div>
                              </div>
                        </div>
                        {% if medias|last is not empty %}
                              <div class="lastObject" style="background-image:url('{{ asset('bundles/public/images/principal.png') }}');background-size:cover;background-position:center center;">
                                    <div class="col-sm-3 col-xs-12 {{ medias|last.category.categoryName|lower }} infoLast">
                                          <div class="mask"></div>
                                          <div class="textContent">
                                                <div class="h2 lastPodcast">Dernier <br />podcast</div>
                                                <h2>{{ medias|last.Title }}</h2>
                                                <p>par {{ medias|last.user.firstname }}</p>
                                                <p>le {{ medias|last.publishedDate|date("d/m/Y", "Europe/Paris") }}</p>
                                                <p class="duree"></p>
                                                <div class="bouton audioSonLast" data-src="{{ asset('/uploads/media/'~ medias|last.Emplacement )  }}">Ecouter</div>
                                          </div>
                                    </div>
                              </div>
                        {% endif %}
                        <div class="h1">Mes podcast</div>
                        <div id="headColCat">
                              <div class="col-md-3 col-sx-5">
                                    Titre
                              </div>
                              <div class="col-md-7 col-sx-5">
                                    Uploader
                              </div>
                              <div class="col-md-1 col-sx-1">
                                    Durée
                              </div>
                              <div class="col-md-1 col-sx-1">
                                    Action
                              </div>
                        </div>
                        <div id="contentColCat">
                              {% for media in medias %}
                                    <div class="{{ media.category.categoryName|lower }} blocSon">
                                          <div class="col-md-3 col-xs-5 fondCouleur">
                                          </div>
                                          <div class="col-md-3 col-xs-5 titreSon audioSon" data-src="{{ asset('/uploads/media/'~ media.Emplacement )  }}">
                                                <div class="row">
                                                      <div class="blocIMG">
                                                            <img src="{{ asset('bundles/public/images/60x60_Sound.jpg') }}" title="Guild Wars 2"/>
                                                      </div>
                                                      <div class="titreMusique">
                                                            {{ media.Title }}
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-md-7 col-xs-5 uploaderSon">
                                                {{ media.user.firstname }}
                                          </div>
                                          <div class="col-md-1 col-xs-1 dureeSon">

                                          </div>

                                          <div class="col-md-1 col-xs-1 actionSon">
                                                <a href="{{ path('r_tech_media_delete',{'id': media.id}) }}"
                                                   class="btn btn-danger btn-xs fn-delete-media">
                                                    Delete
                                                </a>
                                          </div>
                                    </div>
                              {% endfor %}


                        </div>
                  </div>
            </div>
      {% endblock rtech_user_content %}
{#{% endblock %}#}

<!-- Modal -->
<div class="modal fade mediaModal-lg" id="myModalInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modifier mes informations</h4>
                  </div>
                  <div class="modal-body">
                        <div class="container">
                              <div class="modifierInfo">
                                    {{ render(controller('RTechUserBundle:Profile:edit')) }}
                              </div>

                        </div>
                  </div>

            </div>
      </div>
</div>