{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('rtech_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    <div class="col-md-6 col-sx-6">
        {{ form_row(form.lastname, {'attr': {'placeholder': 'Nom'} }) }}
        {{ form_row(form.firstname, {'attr': {'placeholder': 'Prénom'} }) }}

        {{ form_row(form.email, {'attr': {'placeholder': 'Adresse mail'} }) }}
    </div>
    <div class="col-md-6 col-sx-6">
        {{ form_row(form.birthday, {'attr': {'placeholder': 'date de naissance','class':'datepicker'}}) }}

        {{ form_row(form.plainPassword.first, {'attr': {'placeholder': 'Entrez votre mot de passe'} }) }}
        {{ form_row(form.plainPassword.second, {'attr': {'placeholder': 'Confirmer votre mot de passe'} }) }}
        {{ form_row(form._token) }}
    </div>
    <div class="row">
        <div class="text-center">
            <button type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"
                    class="btn btn-success">
                {{ 'registration.submit'|trans }}
            </button>
        </div>
    </div>

{{ form_end(form,{'render_rest': false}) }}






