
{% extends "RTechAppBundle::layout.html.twig" %}

{% block body %}
<canvas id="sons"></canvas>
<div id="titrePrincipal"><div class="titre">{{ 'accueil.slogan1'|trans }}<br />{{ 'accueil.slogan2'|trans }}</div></div>
<div class="contenu row">
    <div class="radioDirect">
        <div class="enDirect">
            {{'accueil.live2' |trans }} <br />{{'accueil.live3' |trans }}
            <a href="" class="bouton audioSon" data-src="http://hibamp3.com/music/mp3/Music%20Etranger/Eminem-2016/01.%20Session%20One.mp3">
               {{'accueil.live'|trans }}
            </a>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vel est sed nunc maximus aliquam nec rutrum orci.</p>
    </div>
    <div class="chaines">
        <a href="" class="esport">
            <div class="mask"></div>
            <p class="titreC">{{'accueil.esport' |trans }}</p>
        </a>
        <a href="" class="informatique">
            <div class="mask"></div>
            <p class="titreC">{{ 'accueil.informatique' |trans }}</p>
        </a>
        <a href="" class="robotique">
            <div class="mask"></div>
            <p class="titreC">{{ 'accueil.robotique'|trans }}</p>
        </a>
        <a href="" class="art">
            <div class="mask"></div>
            <p class="titreC">{{'accueil.art' |trans }}</p>
        </a>
        <a href="" class="jeux">
            <div class="mask"></div>
            <p class="titreC">{{ 'accueil.jeux' |trans }}</p>
        </a>
        <a href="" class="science">
            <div class="mask"></div>
            <p class="titreC">{{ 'accueil.science' |trans }}</p>
        </a>
    </div>
    <div class="col-sm-7 groupeSonUser">
        <div class="blocContent">
            <div class="personnes">
                <div class="blocUser">
                    <img src="{{ asset('bundles/public/images/talian.png') }}" />
                    <div class="over">
                        <div class="infos">
                            <div class="h2">
                                Talian<img src="{{ asset('bundles/public/images/or.png') }}" class="medaille" />
                            </div>
                            <div class="podcast">50 podcast</div>
                        </div>
                    </div>
                </div>
                <div class="blocUser">
                    <img src="{{ asset('bundles/public/images/lorie.png') }}" />
                    <div class="over">
                        <div class="infos">
                            <div class="h2">
                                LORIAN<img src="{{ asset('bundles/public/images/or.png') }}" class="medaille" />
                            </div>
                            <div class="podcast">129 podcast</div>
                        </div>
                    </div>
                </div>
                <div class="blocUser">
                    <img src="{{ asset('bundles/public/images/solene.png') }}" />
                    <div class="over">
                        <div class="infos">
                            <div class="h2">
                                solen3<img src="{{ asset('bundles/public/images/or.png') }}" class="medaille" />
                            </div>
                            <div class="podcast">20 podcast</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 right description">
                <div class="h1">{{ 'accueil.uploader' |trans }}</div>
                <div class="col-md-10">
                    <p>{{ 'accueil.slogan3'|trans }}</p>
                </div>
            </div>
        </div>
        <div class="blocContentSon">
            <div id="category">
                <div id="contentColCat">
                    <div class="art blocSon">
                        <div class="col-md-5 col-xs-5 fondCouleur">
                        </div>
                        <div class="col-md-5 col-xs-5 titreSon audioSon" data-src="http://hibamp3.com/music/mp3/Music%20Etranger/Eminem-2016/01.%20Session%20One.mp3">
                            <div class="row">
                                <div class="blocIMG">
                                    <img src="{{ asset('bundles/public/images/60x60_Sound.jpg') }}" title="Guild Wars 2"/>
                                </div>
                                <div class="titreMusique">
                                    PVP Guild Wars 2
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-5 uploaderSon">
                            Talian
                        </div>
                        <div class="col-md-1 col-xs-1 dureeSon">
                            15:54
                        </div>
                    </div>
                    <div class="esport blocSon">
                        <div class="col-md-5 col-xs-5 fondCouleur">
                        </div>
                        <div class="col-md-5 col-xs-5 titreSon audioSon" data-src="http://hibamp3.com/music/mp3/Music%20Etranger/Eminem-2016/01.%20Session%20One.mp3">
                            <div class="row">
                                <div class="blocIMG">
                                    <img src="{{ asset('bundles/public/images/60x60_Sound.jpg') }}" title="Guild Wars 2"/>
                                </div>
                                <div class="titreMusique">
                                    PVP Guild Wars 2
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xs-5 uploaderSon">
                            Talian
                        </div>
                        <div class="col-md-1 col-xs-1 dureeSon">
                            15:54
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 description uploadSon">
                <div class="h1">{{ 'accueil.uploader'|trans }}</div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 goupeDecouverte">
        <div class="h1 decouverte">Notre découverte</div>
        <div class="col-xs-11 imageUser">
            <img src="{{ asset('bundles/public/images/lolo.png') }}" alt="notre découverte" class="user"/>
        </div>
        <div class="col-xs-11 right description">
            <h2>LOLO<img src="{{ asset('bundles/public/images/bronze.png') }}" class="medaille" /></h2>
            <p>{{ 'accueil.lolo'|trans }}</p>
        </div>
    </div>
    <div class="newsletter">
        <div class="blocNL">
            <h2>{{ 'newsletter.info1' |trans }}</h2>
            <h1>{{ 'newsletter.info2'|trans }}</h1>
            <form>
                <input type="text" placeholder="mail" class="inputMail" />
                <button type="submit" value="Créer un compte" class="btn btn-success">
                    {{ 'newsletter.infos3' |trans }}
                </button>
            </form>

        </div>
    </div>
</div>
{% endblock  %}