<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}RadioTech {% endblock %}</title>
    <meta charset="utf-8">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{{ asset('bundles/public/images/favicon.ico') }}" />
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/public/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/public/font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/public/css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/public/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/public/css/owl.carousel.css') }}">

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{{ asset('bundles/public/js/owl.carousel.min.js') }}"></script>
    {% endblock %}

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
        _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
            $.src="//v2.zopim.com/?3wRbl6hh4Ac0qb9yNVdlAhazGTnx8RIM";z.t=+new Date;$.
                    type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
    </script>
    <!--End of Zopim Live Chat Script-->
</head>
<body>

{#
    le bloc header qui sépare le header en trois partie.Cela laisse la possibilité au cours d'un extends
    d'inclure la partie qu'on veut
#}
{% block pylos_store_header %}
    {# header top #}
    {% block header_top %}
        {% include 'RTechAppBundle:compoments:header_top.html.twig' %}
    {% endblock %}
{% endblock %}

{% block pylos_store_carousel %}
{% endblock %}


<div class="row">
    <div id="content">
        {% block body %}

        {% endblock %}
    </div>
</div>

<div class="lecteur">
    <div class="row">
        <div class="fermer">X</div>
        <div class="col-xs-4 infos">
            <div class="blocIMG">
                <img src="" />
            </div>
            <div class="titreNom"></div>
        </div>
        <div class="col-xs-8">
            <div class="lecteurAudio">
                <div class="coeur">
                    <img src="{{ asset('bundles/public/images/coeur.png') }}" />
                </div>
                <a class="pp" id="play" href="">
                </a>
                <p class="audioDebut">0</p>
                <div id="ecoulement">
                    <div class="progress"></div>
                </div>
                <p class="audioFin"></p>
                <p class="volume">
                    <input type="range" id="seek" value="0.5" min="0" max="1" step="0.01"/>
                </p>
            </div>
            <audio src="" id="audio"></audio>
        </div>
    </div>
</div>

{{ include("RTechAppBundle:Compoments:footer.html.twig") }}
{% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="{{ asset('bundles/public/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/public/js/points.js') }}"></script>
    <script src="{{ asset('bundles/public/js/jsperso.js') }}"></script>
    <script src="{{ asset('bundles/public/js/radiotech.js') }}"></script>
{% endblock %}
</body>
</html>